<div class="row mb-3">
  <div class="col-12">
    <label class="form-label" for="inputValue1">Valor 1</label>
    <input
      type="number"
      class="form-control"
      id="inputValue1"
      placeholder="Ingrese un numero"
      #inputValue1
      [(ngModel)]="n1"
    />
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <label class="form-label" for="inputValue2">Valor 2</label>
    <input
      type="number"
      class="form-control"
      id="inputValue2"
      placeholder="Ingrese un numero"
      #inputValue2
      [(ngModel)]="n2"
    />
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <label class="form-label" for="inputResult" [style.display]="hayRespuesta"
      >Operación</label
    >
    <input
      type="text"
      class="form-control"
      id="inputOperacion"
      [style.display]="hayRespuesta"
      disabled
      [(ngModel)]="operacion"
    />
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <label class="form-label" for="inputResult">Resultado</label>
    <input
      type="number"
      class="form-control"
      id="inputResult"
      placeholder="Resultado"
      disabled
      [(ngModel)]="resultado"
    />
  </div>
</div>
<app-calc-actions
  [n1]="n1"
  [n2]="n2"
  (ans)="resultado = $event"
  (op)="operacion = $event"
  (borrarEvent)="borrar()"
></app-calc-actions>
