<div class="row mb-3">
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark" (click)="sumar()">+</button>
  </div>
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark">-</button>
  </div>
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark">^</button>
  </div>
</div>
<div class="row mb-3">
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark">X</button>
  </div>
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark">÷</button>
  </div>
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark">CE</button>
  </div>
</div>
