<div class="row mb-3">
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark" (click)="sumar()">+</button>
  </div>
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark" (click)="restar()">-</button>
  </div>
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark" (click)="potenciar()">^</button>
  </div>
</div>
<div class="row mb-3">
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark" (click)="multiplicar()">
      X
    </button>
  </div>
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark" (click)="dividir()">÷</button>
  </div>
  <div class="col-4 col-btn">
    <button type="button" class="btn btn-dark" (click)="borrar()">CE</button>
  </div>
</div>
